<header class="header-container">
  <div class="header-logo">
    <a [routerLink]="(logo$ | async)?.link" class="d-flex align-items-center">
      <span class="logo-img-wrapper">
        <img [src]="(logo$ | async)?.src" [alt]="(logo$ | async)?.alt" height="44" width="44" />
      </span>
      <span class="logo-text ms-2">{{ (logo$ | async)?.alt }}</span>
    </a>
  </div>
  <ng-container *ngIf="showNavigation">
  <nav class="header-nav">
    <a *ngFor="let item of navItems$ | async as navItems" [routerLink]="item.route" class="nav-link">{{ item.label }}</a>
  </nav>
  <div class="header-actions">
    <ng-container *ngFor="let action of actions$ | async as actions">
      <button *ngIf="action.type === 'login'" [routerLink]="action.route" class="action-btn login-btn">
        {{ action.label }}
      </button>
      <button *ngIf="action.type === 'get-started'" [routerLink]="action.route" class="action-btn get-started-btn d-flex align-items-center">
        {{ action.label }}
        <i class="bi bi-arrow-right ms-2" style="font-size: 1.1rem;"></i>
      </button>
    </ng-container>
  </div>
   </ng-container>
    <!-- <ng-container *ngIf="showNavigation">
    <nav class="header-nav">
      <a *ngFor="let item of navItems$ | async as navItems" [routerLink]="item.route" class="nav-link">{{ item.label }}</a>
    </nav>
    <div class="header-actions">
      <ng-container *ngFor="let action of actions$ | async as actions">
        <button *ngIf="action.type === 'login'" [routerLink]="action.route" class="action-btn login-btn">
          {{ action.label }}
        </button>
        <button *ngIf="action.type === 'get-started'" [routerLink]="action.route" class="action-btn get-started-btn d-flex align-items-center">
          {{ action.label }}
          <i class="bi bi-arrow-right ms-2" style="font-size: 1.1rem;"></i>
        </button>
      </ng-container>
    </div>
  </ng-container> -->
  <ng-container *ngIf="!showNavigation">
    <div class="header-actions">
      <span class="header-profile-icon ms-3">
        <img src="landing/user.jfif" alt="Profile" />
      </span>
    </div>
  </ng-container>
</header>
